[submodule "components/yap-c"]
	path = components/yap-c
	url = https://github.com/MightyPancake/yap-c
[submodule "components/yap-ts"]
	path = components/yap-ts
	url = https://github.com/MightyPancake/yap-ts
[submodule "include/utils"]
	path = include/utils
	url = https://github.com/MightyPancake/utils
